{ pkgs, ... }:

{
  boot.kernel.sysctl."net.ipv4.ip_forward" = 1;
  services.printing = {
    enable = true;
    package = pkgs.unstable.cups;
    drivers = [
      pkgs.stable.cups-brother-hll2350dw
      pkgs.custom.ptouch-driver
    ];
  };
  services.avahi = {
    publish = {
      enable = true;
      userServices = true;
    };
  };
}