{ pkgs, config, ... }:

{
  boot.initrd.luks.devices = {
    cryptprojects = {
      device = "/dev/disk/by-uuid/bf658464-220e-47eb-98d9-15c15e95be63"; # find with lsblk -f
      keyFile = "/cryptprojects.key";
      fallbackToPassword = true; # Optional passphrase fallback
    };
    cryptresources = {
      device = "/dev/disk/by-uuid/8f13553a-5170-4c2b-8492-dc22c152150d"; # find with lsblk -f
      keyFile = "/cryptresources.key";
      fallbackToPassword = true; # Optional passphrase fallback
    };
  };

  fileSystems."/mnt/local-projects" = {
    device = "/dev/mapper/cryptprojects";
    fsType = "ext4";
    options = ["defaults" "noatime"];
  };
  fileSystems."/mnt/local-resources" = {
    device = "/dev/mapper/cryptresources";
    fsType = "ext4";
    options = ["defaults" "noatime"];
  };

  # Add keyfile to initrd secrets
  boot.initrd.secrets = {
    "/cryptprojects.key" = "/etc/secrets/keys/cryptprojects.key";
    "/cryptresources.key" = "/etc/secrets/keys/cryptresources.key";
  };
}