{ pkgs, ... }:

{

  # Disable the GNOME3/GDM auto-suspend feature that cannot be disabled in GUI!
  # If no user is logged in, the machine will power down after 20 minutes.
  systemd.targets.sleep.enable = false;
  systemd.targets.suspend.enable = false;
  systemd.targets.hibernate.enable = false;
  systemd.targets.hybrid-sleep.enable = false;
  services.gnome.gnome-keyring.enable = true;

  # Configure keymap in X11
  services.xserver = {
    layout = "us";
    xkbVariant = "";
  };

  # Enable CUPS to print documents.
  services.printing.enable = true;

  services.nginx = {
    enable = true;
    recommendedProxySettings = true;
    virtualHosts."vernix.tuna-moth.ts.net" = {
      locations."/" = {
        proxyPass = "http://127.0.0.1:${builtins.toString config.services.audiobookshelf.port}";
        proxyWebsockets = true;
        extraConfig = ''
          proxy_redirect http:// $scheme://;
        '';
      };
    };
  };
  services.mosquitto = {
    enable = true;
    listeners = [
      {
        port = 1883;
      	users.mqtt = {
          acl = [ "readwrite #" ];
          hashedPassword = "$7$101$Q0qszmtTkOBIVOq6$+ASKicOxUyQ5iMoIpCXEG/rDtZFU2YfIUOPBiBnOp8K14lt2ApEeR7rCfu0wBORFtJVb+g2F1Ok+KB7P1Jfx7g==";
        };
      }
    ];
  };
  networking.firewall = {
    allowedTCPPorts = [ 3389 1883 8123 ];
    allowedUDPPorts = [ 3389 ];
  };
}
