{ 
  pkgs,
  ...
}:

{
  home.packages = with pkgs; [
    stable.monero-gui
    stable.monero-cli
    stable.ledger-live-desktop
    stable.wally-cli
    unstable.prusa-slicer
    unstable.bambu-studio
  ];
}
