{ 
  pkgs,
  ...
}:

{
  # The home.packages option allows you to install Nix packages into your
  # environment.
  home.packages = with pkgs; [
    stable.swaynotificationcenter
    stable.sapling
    stable.imagemagick
    stable.perl
    stable.meson
    stable.alsa-utils
    stable.pulseaudio
    stable.btop
    stable.nmap
    stable.pandoc
    stable.tig
    stable.w3m
    stable.glow
    stable.playerctl
    stable.docker_27
    stable.docker-compose
    stable.acpi
    stable.sysstat
    stable.xarchiver
    stable.nomacs
    stable.cheese
    stable.nautilus
    stable.libreoffice-qt6-still
    stable.sublime3
    stable.nb
    stable.zoxide
    stable.starship
    stable.direnv
    stable.bat
    stable.obs-studio
    stable.peek
    stable.vlc
    stable.openscad
    stable.firefox
    stable.brave
    stable.chromium
    stable.mullvad-browser
    stable.tor-browser
    stable.pam_u2f
    stable.yubioath-flutter
    stable.gimp
    stable.wireplumber
    stable.iw
    stable.cmake
    stable.pnpm
    stable.gnumake
    stable.clang
    stable.automake
    stable.autoconf
    stable.remmina
    stable.ripgrep
    stable.bitwarden-desktop
    stable.bruno
    stable.usbutils
    stable.jq
    stable.hyprlock
    stable.wl-clipboard
    stable.cliphist
    stable.hyprcursor
    stable.hyprpicker
    stable.hypridle
    stable.libnotify
    stable.gruvbox-gtk-theme
    stable.gruvbox-plus-icons
    stable.phinger-cursors
    stable.ffmpeg
    stable.skypeforlinux
    stable.pantheon.elementary-iconbrowser
    stable.google-cloud-sdk
    stable.anki
    stable.neofetch
    stable.simple-scan
    stable.wev
    stable.davinci-resolve-studio
    stable.blender
    stable.telegram-desktop
    stable.flyctl
    stable.dmidecode

    unstable.thunderbird
    unstable.hyprpolkitagent
    unstable.nwg-displays
    unstable.hyprpaper
    unstable.waypaper
    unstable.atuin

    # Custom
    custom.waybar
    custom.flameshot
    custom.hyprland-autoname-workspaces
    custom.phinger-hyprcursor
    custom.swww

    # Unfree
    unstable.pulumi-bin
    unstable.code-cursor
    unstable.morgen
    stable.megasync
    stable.slack
    stable.spotify

    # Extra packages
    ${EXTRA_USER_PACKAGES}
  ];
}
