{ 
  pkgs,
  ...
}:

{
  home.packages = with pkgs; [
    swaynotificationcenter
    hyprlock
    wl-clipboard
    cliphist
    hyprcursor
    hyprpicker
    hypridle
    pavucontrol
    hyprpolkitagent
    nwg-displays
    hyprpaper
    waypaper
    wofi
    libnotify
    gruvbox-gtk-theme
    gruvbox-dark-icons-gtk
    phinger-cursors
    vivaldi

    swww

    hyprland-autoname-workspaces
    waybar
    custom.flameshot
    custom.phinger-hyprcursor
  ];
}
