{ 
  pkgs,
  ...
}:

{
  home.packages = with pkgs; [
    stable.sapling
    stable.imagemagick
    stable.perl
    stable.alsa-utils
    stable.pulseaudio
    stable.btop
    stable.pandoc
    stable.tig
    stable.w3m
    stable.glow
    stable.playerctl
    stable.docker_27
    stable.docker-compose
    stable.acpi
    stable.sysstat
    stable.zoxide
    stable.starship
    stable.direnv
    stable.bat
    stable.pam_u2f
    stable.wireplumber
    stable.iw
    stable.cmake
    stable.pnpm
    stable.gnumake
    stable.clang
    stable.automake
    stable.autoconf
    stable.usbutils
    stable.jq
    stable.ffmpeg
    stable.neofetch
    stable.flyctl
    stable.dmidecode
    stable.kdiff3
    unstable.atuin
    stable.bluez
    stable.blueberry

    # Unfree
    unstable.pulumi-bin
  ];
}
