{ 
  pkgs,
  ...
}:

{
  home.packages = with pkgs; [
    stable.xarchiver
    stable.nomacs
    stable.cheese
    stable.nautilus
    stable.libreoffice-qt6-still
    stable.sublime3
    stable.obs-studio
    stable.peek
    stable.vlc
    stable.openscad
    stable.firefox
    stable.brave
    stable.chromium
    stable.mullvad-browser
    stable.tor-browser
    stable.yubioath-flutter
    stable.gimp
    stable.remmina
    stable.bitwarden-desktop
    stable.bruno
    stable.skypeforlinux
    stable.pantheon.elementary-iconbrowser
    stable.anki
    stable.simple-scan
    stable.wev
    stable.davinci-resolve-studio
    stable.blender
    stable.telegram-desktop
    unstable.thunderbird

    # Unfree
    unstable.code-cursor
    unstable.morgen
    stable.megasync
    stable.slack
    stable.spotify
  ];
}
