{ 
  pkgs,
  ...
}:

{
  home.packages = with pkgs; [
    sapling
    imagemagick
    perl
    alsa-utils
    pulseaudio
    btop
    pandoc
    tig
    w3m
    glow
    playerctl
    docker_27
    docker-compose
    acpi
    sysstat
    starship
    direnv
    bat
    pam_u2f
    wireplumber
    iw
    cmake
    pnpm
    gnumake
    clang
    automake
    autoconf
    usbutils
    jq
    ffmpeg
    neofetch
    flyctl
    dmidecode
    kdiff3
    atuin
    bluez
    blueberry

    # Unfree
    pulumi-bin
  ];
}
