{ pkgs, ... }:

{
  home.sessionVariables = {
    EDITOR = "nvim";
    VISUAL = "nvim";
    BROWSER = "/home/${NIXUSER}/.local/bin/url-router.sh";
    DEFAULT_BROWSER = "/home/${NIXUSER}/.local/bin/url-router.sh";
    NB_BROWSER = "firefox";
  };

  programs.nushell = {
    package = pkgs.nushell;
    enable = true;
    environmentVariables = {
      EDITOR = "\"nvim\"";
      VISUAL = "\"nvim\"";
      BROWSER = "\"/home/${NIXUSER}/.local/bin/url-router.sh\"";
      DEFAULT_BROWSER = "\"/home/${NIXUSER}/.local/bin/url-router.sh\"";
      NB_BROWSER = "firefox";
    };
  };

  home.shellAliases = {
    chrome = "chromium";
  };
}
